<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.patrol" >
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.supcon.mes.module_xj_temp.ui.XJTempTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
    </application>
</manifest>
