<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supcon.mes.patrol" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity-alias
            android:name="com.supcon.mes.module_xj.ui.XJSlashActivity"
            android:screenOrientation="portrait"
            android:enabled="false"
            android:theme="@style/AppNoTitleBarTheme"
            android:targetActivity="com.supcon.mes.module_xj.ui.XJSlashActivity"
            android:icon="@drawable/ic_xj_launcher"
            android:label="移动巡检"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="ACTIVITY_ROUTER"
                android:value="XJ_TASK_LIST"/>
        </activity-alias>

        <activity
            android:name="com.supcon.mes.module_xj.ui.XJSlashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/XJLaunchTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJTaskListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJTaskDetailActivity"
            android:theme="@style/XJFloatStyle"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJTaskGetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJTaskUploadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJWorkViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.supcon.mes.module_xj.ui.XJRouteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />

        <activity
            android:name="com.supcon.mes.module_xj.ui.XJDeviceWorkListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleBarTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />


        <service android:name="com.supcon.mes.testo_805i.controller.InfraredService"/>
        <service android:name="com.supcon.mes.module_xj.service.RealTimeUploadLoactionService" />
    </application>
</manifest>
